/* Sayfanın en az tam ekran yüksekliğinde olmasını sağlıyoruz */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Sayfanın ana içeriğini esneterek footer’ı aşağı iter */
#root, .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* İçerik alanı büyüdükçe footer en altta kalacak */
.main-content {

    flex-grow: 1;

}
